.modal-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3E2723;
  width: 40%;
}

.create-user-from {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 30px;
}

.form-control-item {
  margin-bottom: 10px;
  padding: 10px;
}

.cancel-button {
  position: absolute;
  top: 5px;
  right: 13px;
  font-size: 25px;
  background: transparent;
  color: white;
  transform: rotate(45deg);
}

.create-button {
  padding: 5px 0;
  background-color: #D7CCC8;
  margin-top: 10px;
}

.modal,
.form-control-item,
.create-button {
  border-radius: 3px;
}
